<!DOCTYPE html>
<html lang="en">


<body>

                                <h4>Event add</h4>
                                <form method="POST">
                                    <div class="form-group">
                                        <label for="ename">Event Name</label>
                                        <input type="" class="form-control" placeholder="event Name" name="ename">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Event Description</label>
                                        <input type="" class="form-control" placeholder="event description" name="description">
                                    </div>
                                    <div class="form-group">
                                        <label for="cost">Cost</label>
                                        <input type="number" class="form-control" placeholder="Cost" name="cost">
                                    </div>
                                  
                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Submit</button>
                
                                </form>
        
    </div>


</body>

</html>