<!DOCTYPE html>
<html lang="en">
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" type="text/css" href="/Font-Awesome-4.7/css/font-awesome.min.css">
                <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="/css/templatemo-style.css"> 
            
        </head>

<body>
    <div class="container">
                
        <section class="col-md-12 content padding tm-float-section tm-section-3">

            <div class="col-lg-6 col-md-6 content-item tm-black-translucent-bg"></div>
            <div class="col-lg-6 col-md-6 content-item tm-white-translucent-bg"></div>
            
            <div class="tm-float-section-header">
              <h2 class="text-center tm-white-text tm-section-3-header">Add Events</h2>  
            </div>
      
            <div class="tm-float-section-body tm-white-bg">
              <div class="col-lg-12">
        
                                <form method="POST">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" placeholder="Name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" placeholder = "Email" name="email">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="event">Event Name</label>
                                        <input type="text" class="form-control" placeholder="Event" name="event">
                                    </div>
                                    <div class="form-group">
                                            <label for="feedback">Feedback</label>
                                            <input type="text" class="form-control" placeholder="Feedback" name="feedback">
                                        </div>
                                    
                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Submit</button>
                
                                </form>
        
                </div>
            </div>
                        
        </section>
        </div>

</body>

</html>