<!DOCTYPE html>
<html lang="en">
<body>
                                <h4>Student</h4>
        
                    
                                    <form method="POST">
                                            <div class="form-group">
                                                    <h4>Student | Volunteer</h4>
                                                    <label for="email">Email address</label>
                                                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                                                </div> &nbsp
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                                </div>&nbsp
                                                <div class="form-group">
                                                    <label for="passwordConf">Retype-Password</label>
                                                    <input type="password" class="form-control" placeholder="Password" name="passwordConf" >
                                                </div>
                                                
                                                <h4>Select Type</h4>
                                            <div class="form-group">
                                                    
                                                    <input type="radio" class="radio" value="student" class="form-control" name="isOther">
                                                    <label for="isOther">Student</label>
                                            </div>
                                            <div class="form-group">
                                                    
                                                    <input type="radio" class="radio" value="volunteer" class="form-control" name="isOther">
                                                    <label for="isOther">volunteer</label>
                                            </div>
                                            <button type="submit"class="btn btn-primary btn-flat m-b-30 m-t-30">Sign UP</button>
                                            <div class="register-link m-t-15 text-center">
                                                    <p>Already have account ? <a href="/login">Register</a></p>
                                            </div>
                                    </form>

</body>

</html>