<!DOCTYPE html>
<html lang="en">
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" type="text/css" href="Font-Awesome-4.7/css/font-awesome.min.css">
                <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="css/templatemo-style.css"> 
        </head>
                        
<body>
        <div class="container">
                
                <section class="col-md-12 content padding tm-float-section tm-section-3">
    
                    <div class="col-lg-6 col-md-6 content-item tm-black-translucent-bg"></div>
                    <div class="col-lg-6 col-md-6 content-item tm-white-translucent-bg"></div>
                    
                    <div class="tm-float-section-header">
                      <h2 class="text-center tm-white-text tm-section-3-header">Signup Here!</h2>  
                    </div>
              
                    <div class="tm-float-section-body tm-white-bg">
                                    <form method="POST">
                                                <div class="form-group">
                                                                <label for="name">Name</label>
                                                                <input type="name" class="form-control" placeholder="Name" name="name" required>
                                                </div>
                                                <div class="form-group">
                                                                <label for="univroll">University Roll No.</label>
                                                                <input type="univroll" class="form-control" placeholder="Univ. Roll" name="univroll" required>
                                                </div>
                                                <div class="form-group">
                                                                <label for="phone">Phone</label>
                                                                <input type="phone" class="form-control" placeholder="Phone" name="phone" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email address</label>
                                                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="passwordConf">Retype-Password</label>
                                                    <input type="password" class="form-control" placeholder="Password" name="passwordConf" >
                                                </div>
                                                
                                                <h4>Select Type</h4>
                                            <!--<div class="form-group">
                                                    
                                                    <input type="radio" class="radio" value="student" class="form-control" name="isOther">
                                                    <label for="isOther">Student</label>
                                            </div>-->
                                            <div class="form-group">
                                                    
                                                    <input type="radio" class="radio" value="volunteer" class="form-control" name="isOther">
                                                    <label for="isOther">volunteer</label>
                                            </div>
                                            <button type="submit"class="btn btn-primary btn-flat m-b-30 m-t-30">Sign Up</button>
                                            <div class="register-link m-t-15 text-center">
                                                    <p>Already have account ? <a href="/login">Login</a></p>
                                            </div>
                                    </form>
                </div>
                </section>           
        </div>

</body>

</html>