<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/Font-Awesome-4.7/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/templatemo-style.css"> 
    
</head>
<body>
        <div class="container">
                <section class="col-md-12 content" id="home">
                    
                   <div class="col-lg-6 col-md-6 content-item tm-black-translucent-bg tm-logo-box">
    <h1>Student Dashboard</h1>
    <a href="/student/displayevent "><button class="btn btn-primary btn-flat m-b-30 m-t-30" type="button">Display Events</button></a>
    <a href="/student/givefeedback"><button class="btn btn-primary btn-flat m-b-30 m-t-30" type="button">Give Feedback</button></a>
    <a href="/student/requestOrganiser"><button class="btn btn-primary btn-flat m-b-30 m-t-30" type="button">Register for organising</button></a>
    
    </div>

    <div class="col-lg-6 col-md-6 content-item content-item-1 background tm-white-translucent-bg">
            <img src="images/stu.jpg" alt="Image 0" class="tm-img tm-img-tl">
    </div>
    </section>
    </div>
    <b><a href="/logout" style="color:rgb(226, 210, 210)"><button class="btn btn-primary btn-flat m-b-30 m-t-30" type="button">Logout</button></a></b>

</body>
</html>